@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>

@{
    if (Model == null)
    {
        <p>
            <h3>An error occurred! Try again later.</h3>
        </p>
    }
    else
    {
        <h2>@Model.Title</h2>
        <div>
            <h3>@Html.Raw(Model.Message)</h3>
        </div>
    }

}
